In [1]:
for i in range(0,10):
    for j in range(0,5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4
5 0
5 1
5 2
5 3
5 4
6 0
6 1
6 2
6 3
6 4
7 0
7 1
7 2
7 3
7 4
8 0
8 1
8 2
8 3
8 4
9 0
9 1
9 2
9 3
9 4

In [2]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [4]:
a = [7,4,5,2]
print(a[2])
print(len(a))
a.sort()
# not return, just sorted a
b = sorted(a)
print(a)
print(b)

5
4
[2, 4, 5, 7]
[2, 4, 5, 7]

In [12]:
def mult(a,b):
    return a*b
#mult('a','b') -> ERROR!
#print(mult(a,b)) -> Error!
print(mult(2,5))
print(mult(2.4,5))

print('HelLo'.lower())
print('HelLo'.upper())

10
12.0
hello
HELLO

In 'mult' function, I have to input the intergers or floating points, not charactor and boolean.

.lower() : return the lower character
.upper() : return the upper character

In [18]:
A = 'Hello I am here'
A = A.split()
print(A)

print(A.sort())
print(A.reverse())
print(A.clear())

print("A.sorted is {}".format(A.sort()))
print("A.reverse is {}".format(A.reverse()))
print("A.clear is {}".format(A.clear()))

x = 3.0
print(x.is_integer())

['Hello', 'I', 'am', 'here']
None
None
None
A.sorted is None
A.reverse is None
A.clear is None
True

    The 'split' method

It splits a single multi-word string into a list of individual words, removing all the whitespace between them.(Whitespace means any tabs, newlines, or spaces) This allows us to read input as a single string, and split it into words.

In [19]:
phrase = "Well I never did said Alice"
words = phrase.split()
print(words)

['Well', 'I', 'never', 'did', 'said', 'Alice']

In [20]:
def remove_punctuation(phrase):
    phrase_sans_punct = ""
    for letter in phrase:
        if letter not in punctuation:
            phase_sans_punct += letter
    return phase_sans_punct

In [21]:
print(remove_punctuation)

<function remove_punctuation at 0x10712d158>

In [22]:
import string

def remove_punctuation(phrase):
    phrase_sans_punct = ""
    for letter in phrase:
        if letter not in string.punctuation:
            phase_sans_punct += letter
    return phase_sans_punct

In [23]:
print(remove_punctuation)

<function remove_punctuation at 0x10712d1e0>

In [25]:
phrase = "His name is {}!".format("Arthur")
print(phrase)

name = "Alice"
age = 10
phrase1 = "I am {} and I am {} years old.".format(name, age)
phrase2 = "I am {} and I am {} years old.".format(age, name)
print(phrase1)
print(phrase2)

His name is Arthur!
I am Alice and I am 10 years old.
I am 10 and I am Alice years old.

In [26]:
x = 4
y = 5
phrase3 = "2**10 = {} and {}*{} = {:f}".format(2**10, x, y, x*y)
print(phrase3)

2**10 = 1024 and 4*5 = 20.000000

In [27]:
name1 = "Paris"
name2 = "Whitney"
name3 = "Hilton"
print("Pi to three decimal places is {0:.3f}".format(3.1415926))
print("123456789 123456789 123456789 123456789 123456789 123456789")
print("|||{0:<15}|||{1:^15}|||{2:>15}|||Born in {3}|||".format(name1,name2,name3,1981))
print("The decimal value {0} converts to hex value {0:x}".format(123456))

Pi to three decimal places is 3.142
123456789 123456789 123456789 123456789 123456789 123456789
|||Paris          |||    Whitney    |||         Hilton|||Born in 1981|||
The decimal value 123456 converts to hex value 1e240

the field is aligned to the left < , center ^ , or right >
f : floating point

    Tuples

Tuples are used for grouping data
Tuples are the most basic of the types for holding multiple elements
IMMUTABLE - you can't change an element
Values can be unpacked from a tuple

In [34]:
a = (5.4,2.3)
b = 3,4,5,6,10,'hello'


x,y = (3.4,1.1)
s,t = [4.21, 3.08]

p= 4
q = 3
p, q = q, p

print(a)
print(b)
print(x)
print(y)
print(s,t)
print(p,q)

(5.4, 2.3)
(3, 4, 5, 6, 10, 'hello')
3.4
1.1
4.21 3.08
3 4

In [35]:
year_born = ("Paris Hilton",1981)
print(year_born)

('Paris Hilton', 1981)

In [36]:
julia = ("Julia", "Roberts", 1967, "Duplicity", 2009, "Actress", "Atlanta, Georgia")
print(julia[2])

1967

In [38]:
# julia[0] = "X"

# Error : tuples are immutable

In [39]:
julia = julia[:3] + ("Eat Pray Love", 2010) + julia[5:]
print(julia)

('Julia', 'Roberts', 1967, 'Eat Pray Love', 2010, 'Actress', 'Atlanta, Georgia')

In [41]:
tup = (5,)
type(tup)

tuple

In [42]:
x = (5)
type(x)

int

In [44]:
bob = ("Bob", 19, "CS")
(name, age, studies) = bob
name

'CS'

In [45]:
age

19

In [46]:
studies

'CS'

In [49]:
import math

def circle_stats(r):
    """ Return (circumference, area) of a circle of radius r """
    circumference = 2 * math.pi * r
    area = math.pi * r * r
    return (circumference, area)

In [50]:
circle_stats(2)

(12.566370614359172, 12.566370614359172)

    Dictionaries
 
Dictionaries are a bit like a language dictionary, they contain paired 'data key:value'

In [52]:
prices = {'fish':435, 'chocolate':235}
prices['rice'] = 135

print(prices['fish'])
print(prices.keys())
print(prices.values())

435
dict_keys(['fish', 'chocolate', 'rice'])
dict_values([435, 235, 135])

In [53]:
english_spanish = {}
english_spanish["one"] = "uno"
english_spanish["two"] = "dos"

print(english_spanish)

{'one': 'uno', 'two': 'dos'}

In [56]:
inventory = {"apple":430, "bananas":312, "oranges":525, "pears":217}
print(inventory)

{'apple': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

In [57]:
del inventory["bananas"]
print(inventory)

{'apple': 430, 'oranges': 525, 'pears': 217}

'del' statement removes a key value pair from a dictionary.

In [58]:
inventory['bananas'] = 0
print(inventory)

{'apple': 430, 'oranges': 525, 'pears': 217, 'bananas': 0}

In [60]:
inventory["bananas"] += 200
print(inventory)

len(inventory)

{'apple': 430, 'oranges': 525, 'pears': 217, 'bananas': 400}

4

In [62]:
a = [1,3,4,5,5,6,7,8,5]

print(len(a))
a_set = set(a)
print(len(a_set))

b = {'a','b'}
c = a_set.union(b)
print(c)

9
7
{1, 3, 4, 5, 6, 7, 8, 'a', 'b'}

'Sets' are very similar to their mathematical equivalent.
The elements must be unique - copies are removed

In [65]:
import numpy

A = numpy.ones((3,3))
b = numpy.array([1.3,4.2,1])

print(b.sum())
print(b.mean())

#x = numpy.linalg.solve(A,b)
#print(x)

6.5
2.1666666666666665