In [1]:
x = 3
y = 4
print(x!=y)
print(x<=y)
print(x>=y)

True
True
False

In [2]:
print(20//5)
print(24//5)

4
4

In [4]:
print(24/5)
type(24/5)

4.8

float

In [3]:
print(20%5)
print(24%5)

0
4

// : 나눗셈 한 후 몫을 나타냄 (integer)
/ : 진짜 나눗셈 의미(float)
% : 나눗셈 후 나머지를 의미

In [5]:
0.15+0.15 == 0.1+0.2

False

In [6]:
0.15+0.15 == 0.10+0.20

False

In [7]:
i = 2566
print(float(i))
print(str(i))
string_number = '253'
print(float(string_number))
print(int(string_number))

2566.0
2566
253.0
253

In [8]:
print(3+4)
print(3+4.0)
print('aaa'+'bbb')

7
7.0
aaabbb

In [9]:
x = input('Input your name > ')
print('Hello '+x)

Input your name > Sinyoung
Hello Sinyoung

In [10]:
x = input('Enter a number >')
print(10+int(x))

Enter a number >100
110

In [11]:
a = ['my',1,4.5,'you',432,11.0,33]
b = [8,4,10,2,6]

# Join two lists together with + (note more operator overloading):
print(a+b)

# Find the length of a list with the len() function:
print(len(a))

# Append an item to a list:
a.append('extra')
print(a)

# Make a list of lists (a bit like a matrix):
M = [[1,0,0],[0,1,0],[0,0,1]]
print(M[0][0])

# Sort a list:
print(sorted(b))

# Another operator overloading (for * this time) - create a list 
# with 20 copies a given one:
print(20*[1,2])

# Check if something is in a list:
print('my' in a)
print('and' in a)

['my', 1, 4.5, 'you', 432, 11.0, 33, 8, 4, 10, 2, 6]
7
['my', 1, 4.5, 'you', 432, 11.0, 33, 'extra']
1
[2, 4, 6, 8, 10]
[1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2]
True
False

In [12]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
print(list(range(0,10,1)))
print(list(range(-5,10,1)))
print(list(range(1,9,2)))
print(list(range(10,0,-1)))
# Check you understand what is being produced by each line and why.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
from pylab import *
a = arange(0,1,0.2)
print(a)

x = arange(-10,10,0.1)
y = x**2

plot(x,y)
show()

[0.  0.2 0.4 0.6 0.8]

In [20]:
print(arange(1,10,2))
print(arange(0.1,0.2))

[1 3 5 7 9]
[0.1]

QUIZ 1

In [21]:
def join_strings(a,b):
    return a,b

In [22]:
print(join_strings('hello ','there'))

('hello ', 'there')

In [25]:
def join_strings(a,b):
    return a+b

In [26]:
print(join_strings('hello ','there'))

hello there

Quiz 2

In [29]:
def return_input_plus_ten():
    x = input()
    return int(x)+10

#여기서 return에 그냥 x만 쓴다면 오류발생. 왜냐면, x의 타입이 뭔지 모르니까.
#그래서 int(x)로 해줘야함

In [30]:
print(return_input_plus_ten())

1111
1121

In [31]:
print(return_input_plus_ten())

-5
5

Quiz 3

In [32]:
def integer_to_string(i):
    x = int(i)*100
    return x

In [33]:
print(integer_to_string(5))

500

Quiz 4

In [34]:
def float_split(x):
    a = int(x)
    b = x - int(x)
    return a,b

In [36]:
a, b = float_split(3.456)
print(a==3 and abs(b-0.456)<1e-12)

True

Quiz 5

In [38]:
import math

def f(x):
    f1 = x**2+3*x+3
    return f1

def g(x):
    g1 = math.sin(x)+(2*(x-2))/(x+1)
    return g1

def comp(x):
    com = f(g(x))
    return com

In [39]:
x = 10
print(round(f(x),3),round(g(x),3),round(comp(x),3))

133 0.911 6.561

Quiz 6

In [40]:
def my_sum():
    total = 0
    for i in range (1,11):
        total = total + (i+1)
    return total

In [41]:
my_sum()

65

Quiz 7

In [44]:
def geometric_sum(a,r):
    total = 0
    for i in range (0,26):
        total = total + a*(r**i)
    return total

In [45]:
print(round(geometric_sum(1,0.3),3))

1.429

Quiz 8

In [48]:
import math

def sinh_approx(x):
    total = 0
    for i in range(0,51):
        total = total + (x**(2*i+1))/math.factorial(2*i+1)
    return total

In [49]:
print(round(sinh_approx(1.0),3))

1.175

Quiz 9

In [50]:
def sort_names():
    x = input("Please enter the first name: ")
    y = input("Please enter the second name: ")
    z = [x,y]
    u = sorted(z)
    print("The name that comes first alphabetically is: ")
    print(u[0])

In [52]:
sort_names()

Please enter the first name: Stuart
Please enter the second name: Stephanie
The name that comes first alphabetically is:
Stephanie

Quiz 11

In [53]:
def fibonacci():
    a = [0,1]
    for i in range (0,28):
        x = a[i+1] + a[i]
        a.append(x)
    return a

In [54]:
fibonacci()

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765,
 10946,
 17711,
 28657,
 46368,
 75025,
 121393,
 196418,
 317811,
 514229]

Quiz 12

In [55]:
def q_sequence():
    q = [1,1]
    for i in range(0,298):
        a = q[(i+2)-q[i+1]]+q[(i+2)-q[i]]
        q.append(a)
    return q

In [56]:
q_sequence()

[1,
 1,
 2,
 3,
 3,
 4,
 5,
 5,
 6,
 6,
 6,
 8,
 8,
 8,
 10,
 9,
 10,
 11,
 11,
 12,
 12,
 12,
 12,
 16,
 14,
 14,
 16,
 16,
 16,
 16,
 20,
 17,
 17,
 20,
 21,
 19,
 20,
 22,
 21,
 22,
 23,
 23,
 24,
 24,
 24,
 24,
 24,
 32,
 24,
 25,
 30,
 28,
 26,
 30,
 30,
 28,
 32,
 30,
 32,
 32,
 32,
 32,
 40,
 33,
 31,
 38,
 35,
 33,
 39,
 40,
 37,
 38,
 40,
 39,
 40,
 39,
 42,
 40,
 41,
 43,
 44,
 43,
 43,
 46,
 44,
 45,
 47,
 47,
 46,
 48,
 48,
 48,
 48,
 48,
 48,
 64,
 41,
 52,
 54,
 56,
 48,
 54,
 54,
 50,
 60,
 52,
 54,
 58,
 60,
 53,
 60,
 60,
 52,
 62,
 66,
 55,
 62,
 68,
 62,
 58,
 72,
 58,
 61,
 78,
 57,
 71,
 68,
 64,
 63,
 73,
 63,
 71,
 72,
 72,
 80,
 61,
 71,
 77,
 65,
 80,
 71,
 69,
 77,
 75,
 73,
 77,
 79,
 76,
 80,
 79,
 75,
 82,
 77,
 80,
 80,
 78,
 83,
 83,
 78,
 85,
 82,
 85,
 84,
 84,
 88,
 83,
 87,
 88,
 87,
 86,
 90,
 88,
 87,
 92,
 90,
 91,
 92,
 92,
 94,
 92,
 93,
 94,
 94,
 96,
 94,
 96,
 96,
 96,
 96,
 96,
 96,
 128,
 72,
 96,
 115,
 100,
 84,
 114,
 110,
 93,
 106,
 124,
 82,
 101,
 111,
 108,
 118,
 104,
 108,
 106,
 114,
 104,
 114,
 109,
 100,
 109,
 120,
 112,
 108,
 118,
 106,
 105,
 130,
 110,
 114,
 115,
 112,
 107,
 120,
 114,
 122,
 121,
 120,
 114,
 138,
 110,
 122,
 119,
 120,
 130,
 132,
 113,
 133,
 123,
 118,
 125,
 121,
 129,
 122,
 136,
 129,
 116,
 149,
 137,
 120,
 123,
 143,
 146,
 107,
 139,
 138,
 139,
 135,
 120,
 146,
 135,
 143,
 129,
 151,
 133,
 135,
 136,
 148,
 148,
 136,
 144,
 143,
 152,
 129,
 139,
 151,
 140,
 148,
 136,
 151,
 159,
 125,
 147,
 153,
 148,
 154,
 152,
 136,
 152,
 155,
 146,
 144,
 162,
 151,
 157]